:root {
  --primary-text-color: #757575;
  --primary-white-color: #ffffff;
  --secondary-bacground-color: #f5f4fa;
  --secondary-text-color: #212121;
  --accent-color: #2196f3;
  --third-background-color: #2f303a;
  --primary-icon-color: #afb1b8;
  --card-set-gap: 30px;
  --cubic-animation: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);

  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
/* Утилиты */
svg {
  display: block;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p,
ul {
  margin-top: 0px;
  margin-bottom: 0px;
}
.container {
  margin: 0px auto;
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
.link {
  text-decoration: none;
}

.photo {
  display: block;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Header */
.page-header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

.page-header > .container {
  display: flex;
  align-items: center;
}
/* Logo */

.logo {
  margin-right: 93px;

  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  color: #000000;
}
.logo .accent-color {
  color: var(--accent-color);
}

/* Site Navigation */
.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
}
.site-nav .link {
  position: relative;

  padding-bottom: 32px;
  padding-top: 32px;

  color: var(--secondary-text-color);

  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;

  transition: color 250ms var(--cubic-animation);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.curent {
  color: var(--accent-color);
}

.site-nav-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link.curent::after {
  content: "";
  position: absolute;

  display: block;
  width: 100%;
  height: 4px;
  bottom: 0;
  right: 0;
  border-radius: 2px;

  background-color: var(--accent-color);
}
/* Contacts */
.page-header .contacts {
  display: flex;
  margin-left: auto;
}

.contacts .link {
  color: var(--primary-text-color);
  fill: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  line-height: 1.17;

  transition: color 250ms var(--cubic-animation),
    fill 250ms var(--cubic-animation);
}
.contacts-item > .link {
  display: flex;
  align-items: center;
}
.contacts .link:focus,
.contacts .link:hover {
  color: var(--accent-color);
  fill: var(--accent-color);
}

.contacts .contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-icon {
  margin-right: 10px;
}
/* Hero */

.hero {
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;

  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  margin: 0 auto;
  max-width: 1600px;
}
.hero-title {
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  width: 696px;
  margin: auto;
}

.button {
  background-color: var(--accent-color);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  align-items: center;
  cursor: pointer;

  font-family: inherit;

  margin-top: 30px;
  padding: 10px 32px;
  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms var(--cubic-animation);
}
.button:hover {
  background-color: #188ce8;
}

/* Feuteres */
.feuteres {
  padding-top: 94px;
}
.feuteres-items {
  display: flex;
}
.feuteres .feuteres-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  line-height: 1.14;
}
.feuteres-block-image {
  margin-bottom: 30px;

  display: flex;
  justify-content: center;
  align-items: center;
  height: 120px;
  background-color: var(--secondary-bacground-color);
  border-radius: 4px;
}
.feuteres-item:not(:last-child) {
  margin-right: 30px;
}
.feuteres-text {
  margin-top: 10px;
  max-width: 270px;
}

/* What are we doing */
.our-works-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.our-works-section .section-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 50px;
}

.our-works-items {
  display: flex;
}

.our-works-items .work-item:not(:last-child) {
  margin-right: 30px;
}
.work-item {
  position: relative;
}
.work-item-overlay {
  position: absolute;
  bottom: 0;
  left: 0;

  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
}
.work-item-text {
  font-family: Roboto;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}
/* Team */
.team-section {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--secondary-bacground-color);
}
.team-section .section-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 50px;
}
.team-section .list {
  display: flex;
}
.worker-container {
  margin-right: 30px;
  border-radius: 4px;

  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.worker-container:last-child {
  margin-right: 0px;
}

.worker-container .worker-info {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-section .worker-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;

  color: var(--secondary-text-color);

  margin-bottom: 10px;
}
.team-section .worker-profecion {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-bottom: 16px;
}
.worker-social-links {
  display: flex;
  justify-content: center;
}
.worker-social-block:not(:last-child) {
  margin-right: 10px;
}
.worker-social-link {
  display: block;
  background-color: var(--primary-white-color);
  padding: 12px;
  border-radius: 50%;

  fill: var(--primary-icon-color);

  transition: fill 250ms var(--cubic-animation),
    background-color 250ms var(--cubic-animation);
}
.worker-social-link:hover,
.worker-social-link:focus {
  background-color: var(--accent-color);
  fill: var(--primary-white-color);
  cursor: pointer;
}

/* Clients */
.section-title.clients-title {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.66;
  text-align: center;
  margin-bottom: 50px;
}

.clients-items {
  display: flex;
}
.clients-item {
  padding: 0;
}
.clients-item:not(:last-child) {
  margin-right: 30px;
}
.clients-company-icon {
  display: block;
  padding: 16px 32px;
  fill: var(--primary-icon-color);
  border: 1px solid var(--primary-icon-color);
  border-radius: 4px;

  transition: fill 250ms var(--cubic-animation),
    border 250ms var(--cubic-animation);
}
.clients-company-icon:focus,
.clients-company-icon:hover {
  fill: var(--accent-color);
  border: 1px solid var(--accent-color);
  cursor: pointer;
}
/* Footer */
.footer-section > .container {
  display: flex;
  align-items: baseline;
}
.footer-section {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--third-background-color);
  font-style: normal;
}
.footer-section .address-head {
  margin-top: 20px;

  color: var(--primary-white-color);
  font-style: normal;
}
.footer-section .footer-contacts {
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms var(--cubic-animation);
}
.address-head .footer-contacts:hover,
.address-head .footer-contacts:focus {
  color: var(--accent-color);
}

.footer-logo {
  margin-right: 0px;

  color: var(--primary-white-color);
}
.footer-social {
  margin-left: 70px;
}
.footer-title {
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;

  color: var(--primary-white-color);
}
.footer-social-links {
  display: flex;
}
.footer-social-links {
  margin-top: 20px;
}

.footer-social-link:not(:last-child) {
  margin-right: 10px;
}

.footer-social-icon {
  display: block;
  padding: 12px;

  fill: var(--primary-white-color);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms var(--cubic-animation);
}
.footer-social-icon:hover,
.footer-social-icon:focus {
  background-color: var(--accent-color);
  cursor: pointer;
}

.footer-email {
  margin-left: 93px;
}
.footer-form {
  margin-top: 20px;
  display: flex;
}
.subscribe-thumb {
  display: flex;
  margin-top: 20px;
}
.footer-subscribe-input {
  display: block;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  width: 358px;
  height: 50px;
  margin-right: 12px;

  color: rgba(255, 255, 255, 0.6);

  transition: border-color 250ms var(--cubic-animation);
}
.footer-subscribe-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
}
.footer-subscribe-input:focus {
  outline: none;
  border-color: var(--accent-color);
}
.subscribe-button {
  padding: 10px 29px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--accent-color);

  border-radius: 4px;
  width: 200px;
  height: 50px;
  border-color: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  transition: background-color 250ms var(--cubic-animation);
}
.subscribe-button:hover,
.subscribe-button:focus {
  background-color: #188ce8;
  cursor: pointer;
}
.subscribe-text {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-white-color);
}
.icon-telegram {
  fill: var(--primary-white-color);
  margin-left: 10px;
}
/* Portfolio */
/* Button portfolio */
.filter {
  display: flex;
  margin-bottom: 34px;
  justify-content: center;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}

.button-portfolio {
  padding: 6px 22px;

  color: var(--secondary-text-color);
  background-color: var(--secondary-bacground-color);
  cursor: pointer;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;

  border-radius: 4px;
  border-color: transparent;

  transition: background-color 250ms var(--cubic-animation),
    color 250ms var(--cubic-animation), box-shadow 250ms var(--cubic-animation);
}
.button-portfolio:hover,
.button-portfolio:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  border-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/* Portfolio section */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--card-set-gap));
  margin-top: calc(-1 * var(--card-set-gap));
}

.card-projects {
  flex-basis: calc(100% / 3 - var(--card-set-gap));
  margin-left: var(--card-set-gap);
  margin-top: var(--card-set-gap);
}
.card-projects-link {
  display: block;
  max-width: 370px;
  max-height: 404px;
  transition: box-shadow 250ms var(--cubic-animation);
}
.card-projects-link:hover,
.card-projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.projects-section {
  padding: 20px 24px 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

.name-projects {
  color: var(--secondary-text-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.projects-text {
  line-height: 1.8;
  color: var(--primary-text-color);
}

.card-projects-thumb {
  position: relative;
  overflow: hidden;
}
.card-projects-description {
  display: block;
  padding: 63px 24px;

  position: absolute;
  left: 0;
  bottom: 0;
  width: 370px;
  height: 294px;

  transform: translateY(100%);
  transition: transform 250ms var(--cubic-animation);

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
}
.card-projects-link:hover .card-projects-description,
.card-projects-link:focus .card-projects-description {
  transform: translateY(0);
}

/* Modal window */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--cubic-animation),
    visibility 250ms var(--cubic-animation);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 521px;
  height: 581px;

  background-color: var(--primary-white-color);

  transform: translate(-50%, -50%) scale(1);

  transition: transform 250ms var(--cubic-animation);
}
.modal-close {
  position: absolute;
  right: 8px;
  top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #000000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--primary-white-color);
  width: 30px;
  height: 30px;
  cursor: pointer;
  transition: fill 250ms var(--cubic-animation);
}
.modal-close:focus,
.modal-close:hover {
  fill: var(--accent-color);
}
.modal-container {
  padding: 40px;
}
.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1, 15;
  text-align: center;

  color: var(--secondary-text-color);

  margin-bottom: 12px;
}
.modal-form-thumb {
  position: relative;
  display: flex;
  flex-direction: column;
}

.modal-form-label {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--primary-text-color);

  margin-bottom: 4px;
}
.modal-form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 42px;
  cursor: pointer;
  transition: border-color 250ms var(--cubic-animation);
}
.modal-form-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  pointer-events: none;

  transition: fill 250ms var(--cubic-animation);
}
.modal-form-thumb:focus-within .modal-form-icon {
  fill: var(--accent-color);
}
.modal-form-thumb:focus-within .modal-form-input {
  border-color: var(--accent-color);
  outline: none;
}
.modal-form-textarea {
  resize: none;
  padding: 12px 16px;
  cursor: pointer;

  height: 120px;

  transition: border-color 250ms var(--cubic-animation);
}

.modal-form-textarea:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-thumb + .modal-form-thumb {
  margin-top: 10px;
}
.modal-form-accept {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
/* Checkbox */

.checkbox-label {
  color: var(--primary-text-color);
  cursor: pointer;
  position: relative;
  padding-left: 20px;
}
.checkbox-text-link {
  color: var(--accent-color);
}

.checkbox-accept {
  cursor: pointer;

  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.checkbox-icon {
  position: absolute;
  top: 4px;
  left: 0;
  fill: var(--primary-white-color);
  border: 1px solid var(--secondary-text-color);
  border-radius: 2px;
  width: 16px;
  height: 15px;

  cursor: pointer;
}

.checkbox-accept:checked + .checkbox-icon {
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position-x: 1px;
  background-position-y: 2px;
  background-size: cover;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.checkbox-accept:focus + .checkbox-icon {
  border-color: var(--accent-color);
}

/* Modal button */
.modal-form-button {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;

  border-color: transparent;
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;

  transition: background-color 250ms var(--cubic-animation);
}
.modal-form-button:focus,
.modal-form-button:hover {
  background-color: #188ce8;
  outline: transparent;
}
